# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List libraries
- list popular Data Science Tools
- List common languages for Data Science
- Show arithmetics and commenting

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. Pandas
3. Numpy
4. Seaborn
5. Scikit-Learn

|Data Science Tools|
|-----------------|
|MySQL|
|MongoDB|
|Apache CouchDB|
|Apache Cassandra|
|PostgreSQL|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [7]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5.

17.0

In [8]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Neve O'Dwyer